<form action="">
  <div class="form-icon">
    <img src="/assets/images/icon-hour.png" alt="" />Horário
  </div>
  <h5>Qual período quer treinar?</h5>
  <div class="radio-wrapper">
    <div>
      <input type="radio" name="morning" />
      <label for="morning">Manhã</label>
    </div>
    <span>06:00 às 12:00</span>
  </div>
  <div class="radio-wrapper">
    <div>
      <input type="radio" name="afternoon" />
      <label for="afternoon">Tarde</label>
    </div>
    <span>12:01 às 18:00</span>
  </div>
  <div class="radio-wrapper">
    <div>
      <input type="radio" name="night" />
      <label for="night">Noite</label>
    </div>
    <span>18:01 às 23:00</span>
  </div>
  <div class="checkbox-wrapper">
    <div>
      <input type="checkbox" name="show-closed" />
      <label for="show-closed">Exibir unidades fechadas</label>
    </div>
    <div>
      Resultados encotrados:
      <span>{{ results.length }} </span>
    </div>
  </div>

  <div class="btn-wrapper">
    <button class="btn btn-primary">Encontrar unidade</button>
    <button class="btn btn-secondary">Limpar</button>
  </div>
</form>
