<form [formGroup]="form">
  <div class="form-icon"><img src="/assets/images/icon-hour.png" />Horário</div>
  <h5>Qual período quer treinar?</h5>
  <div class="radio-wrapper">
    <div>
      <input
        type="radio"
        name="hour"
        formControlName="hour"
        id="morning"
        value="morning"
      />
      <label for="morning">Manhã</label>
    </div>
    <span>06:00 às 12:00</span>
  </div>
  <div class="radio-wrapper">
    <div>
      <input
        type="radio"
        name="hour"
        formControlName="hour"
        id="afternoon"
        value="afternoon"
      />
      <label for="afternoon">Tarde</label>
    </div>
    <span>12:01 às 18:00</span>
  </div>
  <div class="radio-wrapper">
    <div>
      <input
        type="radio"
        name="hour"
        formControlName="hour"
        id="night"
        value="night"
      />
      <label for="night">Noite</label>
    </div>
    <span>18:01 às 23:00</span>
  </div>
  <div class="checkbox-wrapper">
    <div>
      <input type="checkbox" name="showClosed" formControlName="showClosed" />
      <label for="showClosed">Exibir unidades fechadas</label>
    </div>
    <div>
      Resultados encotrados:
      <span>{{ filteredResults.length }} </span>
    </div>
  </div>

  <div class="btn-wrapper">
    <button class="btn btn-primary" (click)="onSubmit()">
      Encontrar unidade
    </button>
    <button class="btn btn-secondary" (click)="onClean()">Limpar</button>
  </div>
</form>
